<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
</head>
<body>
    <h1>Genre page</h1>
     <ul>
     
        <% genres.forEach(genres =>{ %>
            <li>Name:<%- genres.Category %></li>
            <% }); %>
    

    
      
     </ul>
</body>
</html>